@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Acme Corporations draw</h1>
    <h2>Please click on the button below to register your submission for the draw</h2>
    <a asp-area="" asp-controller="Submission" asp-action="CreateSubmission" class="btn btn-primary">Enter draw</a>
</div>
